<!doctype html>
<html lang="en" ng-app="SchedulerApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <partial name="_Styles" />
    <partial name="_Scripts" />

    <title>Scheduler</title>
</head>
<body>

    <main class="container">
        @RenderBody()
    </main>

</body>
</html>