<div class="card border-primary">
    <h5 class="card-header bg-primary text-white">
        <i class="fa fa-hand-o-down"></i>
        Pick a Date
    </h5>
    <div class="card-body">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
            <input class="form-control" ng-model="selectedDate" name="selectedDate" type="date"/>
        </div>
    </div>
    <div class="card-footer">
        Showing appointments for:
        <strong>{{selectedDate | date: 'dd/MM/yyyy'}}</strong>
    </div>
</div>
